.fondo {
    background: url(../Img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana;
    font-size: 13px;
    padding: 1%;
}

/*-----Estilo del formulario login---------*/
.estilo-form {
    background: url(../Img/login.png) no-repeat scroll 0 0 transparent;

    width: 476px;
    height: 273px;
    margin-left: -238px;
    margin-top: -136px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#usuario {
    padding: 3px;
    height: 45px;
    font-size: 12px;
}

#contrasena {
    padding: 3px;
    height: 45px;
    font-size: 12px;
}

#label-index-user {
    padding: 10px 22px;
}

#label-index-pass {
    padding: 10px 22px;
}

/*Estilo y posicion del usuario y la contraseña*/
.data {
    color: #1c2955;
    font-weight: 700;
    left: 72px;
    position: relative;
    width: 300px;
}

/*boton de login*/
.btn-login {
    font-size: 12px;
}
/*---------Fin estilo login------------------------*/

/*-------------Estilo de la pagina Inicio----------*/

/*Cabecera*/
.header {
    background-size: 300%;
    background-image: linear-gradient(to left, #37b356, #124116, #37b356);
    height: 85px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.banner {
    background-image: url(../Img/Banner/fondlogo.png);
    background-repeat: no-repeat;
}

#userData {
    width: 350px;
    float: right;
}

.photoFrameUser {
    float: right;
    height: 60px;
    margin-right: 8px;
    overflow: hidden;
    width: 60px;
}

.userPhoto {
    float: left;
    left: 5px;
    position: relative;
    top: 5px;
}

.userDataText {
    color: #fff;
    text-align: right;
}

.userName {
    font-size: 11px;
    font-weight: 700;
    padding-top: 5px;
}

.userSeparator {
    background-color: #fff;
    float: right;
    height: 2px;
    margin-left: auto;
    margin-top: 2px;
    opacity: 0.2;
    width: 192px;
}

.entityName {
    color: #fff;
    font-size: 10px;
    margin-top: 8px;
    opacity: 0.8;
    text-align: right;
}

#logo {
    background-image: url(../Img/Banner/logo.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    height: 85px;
}

/*Inicio y Salir*/
.linkbar {
    height: 26px;
    margin-left: auto;
    position: relative;
    top: -26px;
}

.linkbarC {
    background-color: #eff2f8;
    float: right;
    height: 26px;
    border-radius: 0 6px 0 0;
}

.barMenuSeparator1 {
    padding-right: 3px;
}

.barMenuSeparator2 {
    padding-right: 10px;
}

.linksBar {
    cursor: pointer;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.linksBar:hover {
    color: #22466b;
}

.linkbarLeft {
    background: url(../Img/Banner/headerbarL.png) no-repeat scroll 0 0 transparent;
    float: right;
    height: 26px;
    width: 56px;
}

/*Cambiar contraseña*/
#btn_password {
    display: none;
}

.container_password {
    background-size: 300%;
    background-image: linear-gradient(to bottom, #37b356, #124116);
    padding: 1%;
    text-align: center;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 6%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

#btn_password:checked ~ .container_password {
    opacity: 1;
    visibility: visible;
}

.cont_password {
    position: relative;
}

nav label {
    font-size: 15px;
    color: #ffffff;
}

nav input {
    margin-bottom: 10px;
}

/*Botones*/
.boton-cancel {
    background-size: 300%;
    background-image: linear-gradient(to bottom, #2bc740, #175d1d);
    float: right;
    margin: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.boton {
    background-size: 300%;
    background-image: linear-gradient(to bottom, #2bc740, #175d1d);
    float: right;
    margin: 5px;
}

.container a {
    padding: 3px 7px;
}

.container button {
    padding: 3px 7px;
}

.boton:hover {
    background-image: linear-gradient(to top, #37b356, #124116);
}

.boton-estilo {
    background-size: 300%;
    background-image: linear-gradient(to bottom, #2bc740, #175d1d);
}

.boton-estilo:hover {
    background-image: linear-gradient(to top, #37b356, #124116);
}

/*Estilo del Menú*/
.list-group a {
    font-weight: 600;
}

.menuFun {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    border-radius: 0 0 0 10px;
    width: 230px;
    vertical-align: sub;
    padding-bottom: 10px;
}

/*Estilo de la barra Menú*/
.estBarraMenú {
    border: 1px solid rgb(3, 3, 3);
    border-radius: 4px;
}

.tituloMenú {
    background-size: 300%;
    background-image: linear-gradient(to bottom, #124116, #37b356);
    border-radius: 5px 5px 0 0;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
}

/*Opciones del Menú*/
.seleccionar {
    cursor: pointer;
    height: 18px;
    padding-left: 6px;
    padding-top: 6px;
    white-space: nowrap;
}

.seleccionar:hover {
    background-repeat: no-repeat;
    color: rgb(35, 56, 100);
}

.imgMenu {
    padding-right: 4px;
    width: 20px;
    height: 20px;
}

.textMenu {
    position: relative;
    padding-right: 2px;
}

/*Zona de trabajo*/
/*Estilo de la barra superior del espacio de trabajo*/
.trabajo {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    border-radius: 0 0 10px 0;
    vertical-align: sub;
}

.estBarraTitulo {
    border: 1px solid rgb(3, 3, 3);
    border-radius: 4px;
    padding: 0;
}

.titulo {
    background-size: 300%;
    background-image: linear-gradient(to bottom, #c7c7c7, #6b6b6b);
    border-radius: 5px 5px 0 0;
    border: 1px solid rgb(255, 255, 255);
    padding: 3px;
    margin: 0;
    color: #1c2955;
    font-weight: 700;
}

/*-----------------Paginas secundarias------------------------------*/
.mensage {
    color: #0f5132;
    padding: 16px;
    border: 1px solid #badbcc;
    margin-bottom: 15px;
    background-color: #d1e7dd;
    border-radius: 0.375rem;
}
