body {
    padding-left: 13px;
    padding-right: 13px;
}

.zona-trabajo {
    background-color: rgb(255, 255, 255);
}

.container input {
    padding: 3px 2px;
    margin-bottom: 20px;
}

input:hover {
    background-color: rgb(189, 252, 169);
}

textarea:hover {
    background-color: rgb(189, 252, 169);
}

.container select {
    padding: 3px 2px;
    margin-bottom: 20px;
}

/*Buscar imagen*/
.file {
    visibility: hidden;
    position: absolute;
}

.img-paciente {
    margin-top: 5%;
    max-width: 80%;
    max-height: 80%;
}

.img-usuario {
    margin-top: 5%;
    max-width: 60%;
    max-height: 60%;
}

/*Gestionar usuarios y roles*/
.cambio-rol {
    border-radius: 5px;
    border: 1px;
    color: aliceblue;
}

/*Acordion*/
#flush-headingOne button {
    color: azure;
    border-radius: 5px;
    height: 20px;
}

#flush-headingThree button {
    color: azure;
    border-radius: 5px;
    height: 20px;
}

/*Citas para estudios*/
#info-paciente div {
    padding: 2px;
    margin: 0;
}

#info-paciente label {
    margin: 5px;
}

/*Lista de Trabajo*/
.marcoDescripcion {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.descripcion {
    background-color: rgb(60, 107, 68);
    border: 1px solid aliceblue;
    border-radius: 5px;
    color: aliceblue;
    padding: 5px;
    margin: 0;
    font-family: Verdana;
}

.interactua {
    border: 1px solid rgb(63, 61, 61);
    border-radius: 5px;
    padding: 0;
}

.encabezado {
    background-size: 300%;
    background-image: linear-gradient(to bottom, #37b356, #124116);
    border-radius: 5px 5px 0 0;
    border: 1px solid aliceblue;
    padding: 3px;
    margin: 0;
    color: aliceblue;
    font-weight: 700;
}

/*Formularios*/
#form-Isquierda {
    margin-left: 0;
}

#pacienteFormulario {
    margin: 0;
}

#inf-inst-Formulario {
    margin: 0;
}

#agreg-user-Form {
    margin: 0;
}

select:hover {
    background-color: rgb(189, 252, 169);
}

.labelDato {
    width: 80%;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.labelDato:hover {
    background-color: rgb(189, 252, 169);
}

label {
    width: 100%;
    margin-left: 5%;
}

/*Gestionar Usuario y Rol*/
.opcionesDeUsuarios {
    border: 1px solid rgb(3, 3, 3);
    border-radius: 4px;
}

.usuarios {
    width: 1%;
    text-align: center;
}

.cuadroRol {
    border: 3px solid rgb(110, 107, 107);
    border-radius: 4px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 130px;
    cursor: pointer;
}

.cuadroRol:hover {
    background-color: rgb(189, 252, 169);
}

.imgRol {
    border: 1px solid rgb(110, 107, 107);
    border-radius: 3px;
    padding: 5px;
    width: 40px;
    height: 40px;
}

/*Buscar paciente*/
.posBtnBPaciente {
    position: relative;
    bottom: 40px;
}

/*Admición de Pacientes*/
.imgAdmicPaci {
    border: 2px solid rgb(107, 104, 104);
    border-radius: 15px;
    width: 50%;
}

/*---------------------------------------------Buscar---------------------------------------------*/
.buscar {
    position: relative;
    margin: 3px;
    transform: translate(-0%, -0%);
    padding: 5px;
}

.buscar input {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 0px;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #124116;
    transition: all 0.7s ease;
}

::placeholder {
    color: grey;
}

.btnbuscar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    background: #124116;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.btnbuscar img {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all 0.7s ease;
}

.buscar:hover input {
    width: 350px;
}

.buscar:hover img {
    transform: rotate(-360deg);
}

.btnbuscar:hover {
    background: #124116;
}

/*---------------------------------------------Tabla----------------------------------------------*/
.tbl-container {
    max-width: fit-content;
    max-height: fit-content;
}

.tbl-fixed {
    overflow-y: scroll;
    height: fit-content;
    max-height: 400px;
}

table {
    min-width: max-content;
    border-collapse: separate;
}

table th {
    position: sticky;
    top: 0px;
    text-align: center;
    border: 1px solid cornsilk;
}

table td {
    text-align: center;
}

/*-----------------------------------------Scrol Personalizado------------------------------------------*/
.tbl-fixed::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.tbl-fixed::-webkit-scrollbar-thumb {
    background: #4d8b52;
    border-radius: 5px;
}
/*-----------------------------------------Termina Tabla------------------------------------------*/
