<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/EstiloPrincipal.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/EstiloSecundario.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/Bootstrap/css/bootstrap.min.css}" />
        <title></title>
    </head>

    <body>
        <!--Barra titulo-->
        <div class="estBarraTitulo">
            <p class="titulo">Citas para estudios</p>
        </div>

        <!--Información del paciente-->
        <div class="container tbl-container">
            <div class="row tbl-fixed">
                <table
                    class="table table-success table-hover table-fixer"
                    cellspacing="0"
                    style="font-size: 12px; margin-bottom: 0">
                    <thead>
                        <tr class="gridHeader" style="color: #f8fcf8">
                            <th style="background: #124116; border-radius: 7px 0 0 0">Foto</th>
                            <th style="background: #124116">Nombre</th>
                            <th style="background: #124116">Apellidos</th>
                            <th style="background: #124116">Sexo</th>
                            <th style="background: #124116">N. Identidad</th>
                            <th style="background: #124116">Fecha de nacimiento</th>
                            <th style="background: #124116">Edad</th>

                            <th style="background: #124116; border-radius: 0 7px 0 0">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="p:${listaPaciente}">
                            <tr>
                                <td class="text-center"><img src="../Img/Banner/User.png" /></td>
                                <td th:text="${p.nombre}">Nombre</td>
                                <td th:text="${p.apellido}">Apellido</td>
                                <td th:text="${p.nIdentidadP}">N. Identidad</td>
                                <td th:text="${p.fechaNacimiento}">Fecha de nacimiento</td>
                                <td th:text="${p.edad}">Edad</td>
                                <td th:text="${p.sexo}">Sexo</td>

                                <td>
                                    <a th:href="@{'/editarPaciente/'+${p.id}}">
                                        <img src="../Img/Icons/editar.png" width="30px"
                                    /></a>
                                    &nbsp; &nbsp; &nbsp;

                                    <a href="">
                                        <img
                                            src="../Img/Icons/equipo.png"
                                            title="Citar para equipo"
                                            width="30px" />
                                    </a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <!-------------------------------------------------------------------------->
        <div class="interactua my-3" id="info-paciente">
            <p class="encabezado">Información del paciente</p>
            <div class="container tbl-container">
                <div class="row tbl-fixed">
                    <table
                        class="table table-success table-hover table-fixer"
                        cellspacing="0"
                        style="font-size: 12px; margin-bottom: 0">
                        <thead>
                            <tr class="gridHeader" style="color: #f8fcf8">
                                <th style="background: #124116; border-radius: 7px 0 0 0">Foto</th>
                                <th style="background: #124116">Nombre</th>
                                <th style="background: #124116">Apellidos</th>
                                <th style="background: #124116">Sexo</th>
                                <th style="background: #124116">N. Identidad</th>
                                <th style="background: #124116">Fecha de nacimiento</th>
                                <th style="background: #124116">Edad</th>

                                <th style="background: #124116; border-radius: 0 7px 0 0">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="p:${pacientes}">
                                <tr>
                                    <td class="text-center">
                                        <img src="../Img/Banner/User.png" />
                                    </td>
                                    <td th:text="${p.nombre}">Nombre</td>
                                    <td th:text="${p.apellido}">Apellido</td>
                                    <td th:text="${p.nIdentidadP}">N. Identidad</td>
                                    <td th:text="${p.fechaNacimiento}">Fecha de nacimiento</td>
                                    <td th:text="${p.edad}">Edad</td>
                                    <td th:text="${p.sexo}">Sexo</td>

                                    <td>
                                        <a th:href="@{'/editarPaciente/'+${p.id}}">
                                            <img src="../Img/Icons/editar.png" width="30px"
                                        /></a>
                                        &nbsp; &nbsp; &nbsp;

                                        <a href="">
                                            <img
                                                src="../Img/Icons/equipo.png"
                                                title="Citar para equipo"
                                                width="30px" />
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

            <table class="container col-12 row">
                <div class="container text-center col-2">
                    <img src="../Img/Banner/User2.jpg" width="160px" />
                </div>

                <div class="col-10 row">
                    <tr class="col-2">
                        <th style="background: #124116">Nombre</th>
                        <th style="background: #124116">Apellidos</th>
                        <th style="background: #124116">Sexo</th>
                    </tr>

                    <th:block th:each="p:${pacientes}">
                        <tr class="col-3" style="color: rgb(112, 112, 116)">
                            <td th:text="${p.nombre}">Nombre</td>
                            <td th:text="${p.apellido}">Apellido</td>
                            <td th:text="${p.nIdentidadP}">N. Identidad</td>
                        </tr>
                    </th:block>

                    <tr class="col-3">
                        <th style="background: #124116">N. Identidad</th>
                        <th style="background: #124116">Fecha de nacimiento</th>
                        <th style="background: #124116">Edad</th>
                    </tr>

                    <th:block th:each="p:${pacientes}">
                        <tr class="col-3" style="color: rgb(112, 112, 116)">
                            <td th:text="${p.fechaNacimiento}">Fecha de nacimiento</td>
                            <td th:text="${p.edad}">Edad</td>
                            <td th:text="${p.sexo}">Sexo</td>
                        </tr>
                    </th:block>
                    <div class="col-1">
                        <a href="">
                            <img src="../Img/Icons/editar.png" title="Editar" width="23px" />
                        </a>
                        <br />
                        <a href="">
                            <img
                                src="../Img/Icons/ficha_clinica.png"
                                title="Ver ficha clínica"
                                width="20px" />
                        </a>
                    </div>
                </div>
            </table>
        </div>
        <!------------------------------------------------------------------->

        <!--Criterio de Planificación-->
        <div class="interactua my-3">
            <p class="encabezado">Criterios de planificación</p>

            <!--Formulario-->
            <div class="container col-8" id="form-Isquierda">
                <form
                    class="row needs-validation"
                    novalidate
                    method="post"
                    th:action="@{/agregarCita}"
                    th:object="${agregarCitaForm}">
                    <input type="hidden" th:field="*{id}" th:value="*{id}" />

                    <input type="hidden" th:field="*{idPaciente}" th:value="${paciente}" />

                    <div class="col-4">
                        <label for="input-lavel02">Equipo:</label>
                        <select
                            class="form-select"
                            id="input-lavel02"
                            th:field="*{equipo}"
                            required>
                            <option value="" th:text="'Seleccione'"></option>
                            <option
                                th:each="data : ${listaEquipo}"
                                th:value="${data.id}"
                                th:text="${data.nombreEquipo}" />
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="input-lavel03">Tipo de Estudio:</label>
                        <select
                            class="form-select"
                            id="input-lavel02"
                            th:field="*{tipoEstudio}"
                            required>
                            <option value="" th:text="'Seleccione'"></option>
                            <option
                                th:each="data : ${listaTipoEstudio}"
                                th:value="${data.id}"
                                th:text="${data.nombreComun}" />
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="input-lavel04">Procedencia:</label>
                        <select
                            class="form-select"
                            id="input-lavel04"
                            required
                            name="procedencia"
                            th:field="*{procedencia}"
                            th:value="*{procedencia}">
                            <option value="" th:text="'Seleccione'"></option>
                            <option value="Consulta Externa">Consulta Externa</option>
                            <option value="Emergencias">Emergencias</option>
                            <option value="Hospitalización">Hospitalización</option>
                            <option value="Instituciones externas">Instituciones externas</option>
                            <option value="Pruebas">Pruebas</option>
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="input-lavel05">Médico:</label>
                        <select
                            class="form-select"
                            id="input-lavel02"
                            th:field="*{medico}"
                            required>
                            <option value="" th:text="'Seleccione'"></option>
                            <option
                                th:each="data : ${listaMedico}"
                                th:value="${data.id}"
                                th:text="${data.nombre}" />
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="input-lavel04">Estado:</label>
                        <select
                            class="form-select"
                            id="input-lavel04"
                            required
                            name="estado"
                            th:field="*{estado}"
                            th:value="*{estado}">
                            <option value="Pendiente">Pendiente</option>
                            <option value="Efectuada">Efectuada</option>
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="input-lavel06">Fecha:</label>
                        <input
                            type="date"
                            class="form-control"
                            id="input-lavel06"
                            required
                            name="fechaCita"
                            th:field="*{fechaCita}"
                            th:value="*{fechaCita}" />
                    </div>

                    <div class="col-12">
                        <a class="boton-cancel btn btn-primary" href="/Paciente">Cancelar</a>
                        <button class="boton btn btn-primary" type="submit" value="agregarCita">
                            Aceptar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <script th:src="@{/Bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>
    </body>
</html>
