<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/EstiloPrincipal.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/EstiloSecundario.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/Bootstrap/css/bootstrap.min.css}" />
        <title></title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid titulo">
                <a class="navbar-brand" href="/Equipo">Gestionar Equipos</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/paginaEquipo_Agregar">Agregar Equipo</a>
                        </li>
                    </ul>

                    <!--Buscador de varios campos-->
                    <div class="buscar">
                        <form th:action="@{/Equipo}">
                            <input
                                type="text"
                                placeholder="Buscar"
                                name="palBuscarEquipo"
                                th:value="${palBuscarEquipo}" />
                            <div class="btnbuscar">
                                <button class="btn" type="submit" value="palBuscarEquipo">
                                    <img src="../Img/Icons/buscar 48x48.png" width="30px" />
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        <!--Lista de los equipos-->
        <div class="container tbl-container">
            <div class="row tbl-fixed">
                <table
                    class="table table-success table-hover table-fixer"
                    cellspacing="0"
                    style="font-size: 12px; margin-bottom: 0">
                    <thead>
                        <tr class="gridHeader" style="color: #f8fcf8">
                            <th style="background: #124116; border-radius: 7px 0 0 0">Nombre</th>
                            <th style="background: #124116">Local</th>
                            <th style="background: #124116">Estado operacional</th>
                            <th style="background: #124116">DICOM Compatible</th>
                            <th style="background: #124116">Entidad de aplicación PACS</th>
                            <th style="background: #124116">Dirección IP</th>
                            <th style="background: #124116">Departamento</th>
                            <th style="background: #124116; border-radius: 0 7px 0 0">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <th:block th:each="e:${equipos}">
                            <tr class="border-bottom border-success">
                                <td th:text="${e.nombreEquipo}"></td>
                                <td th:text="${e.local}"></td>
                                <td th:text="${e.estadoOperacional}"></td>
                                <td th:text="${e.compatibleDICOM}"></td>
                                <td th:text="${e.entidadDeApliPACS}"></td>
                                <td th:text="${e.direccionIp}"></td>
                                <td th:text="${e.departamento}"></td>
                                <td>
                                    <a
                                        th:href="@{'/eliminarEquipo/'+${e.id}}"
                                        onclick="return confirm('Estas seguro de eliminar los datos de este equipo')">
                                        <img src="../Img/Icons/eliminar.png" width="23px"
                                    /></a>
                                    &nbsp;
                                    <a th:href="@{'/editarEquipo/'+${e.id}}">
                                        <img src="../Img/Icons/editar.png" width="23px" />
                                    </a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                    <tr>
                        <td
                            style="background-color: #124116; border-radius: 0 0 7px 7px"
                            colspan="9"></td>
                    </tr>
                </table>
            </div>
        </div>

        <script th:src="@{/Bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>
    </body>
</html>
