<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="../static/css/EstiloPrincipal.css"
            th:href="@{/css/EstiloPrincipal.css}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="../static/css/EstiloSecundario.css"
            th:href="@{/css/EstiloSecundario.css}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="../static/Bootstrap/css/bootstrap.min.css"
            th:href="@{/Bootstrap/css/bootstrap.min.css}"
    />
    <title>Login</title>
</head>
<body>
<div class="row">
    <div class="text-center">
        <div class="container mt-5">
            <div class="row my-5">
                <div class="col"></div>
                <div class="col-5 mt-5">
                    <img th:src="@{/Img/logo.png}" alt="" width="100"/>
                    <form class="form-signin mt-5" th:action="@{/login}" method="POST">
                        <h1 class="h3 mb-3 font-weight-normal">Rellene para Entrar</h1>

                        <div class="form-group">
                            <label class="sr-only">Usuario</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Usuario"
                                    required
                                    autofocus
                                    name="u"
                            />
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Password</label>
                            <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Password"
                                    required
                                    name="p"
                            />
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Entar
                        </button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
