<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/EstiloPrincipal.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/EstiloSecundario.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/Bootstrap/css/bootstrap.min.css}" />
        <title></title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid titulo">
                <a class="navbar-brand" href="/Usuario">Gestionar Usuarios</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/paginaUsuario_Registrar"
                                >Registrar Usuario</a
                            >
                        </li>
                    </ul>

                    <!--Buscador de varios campos-->
                    <div class="buscar">
                        <form th:action="@{/Usuario}">
                            <input
                                type="text"
                                placeholder="Buscar"
                                name="palBuscarUsuario"
                                th:value="${palBuscarUsuario}" />
                            <div class="btnbuscar">
                                <button class="btn" type="submit" value="palBuscarUsuario">
                                    <img src="../Img/Icons/buscar 48x48.png" width="30px" />
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        <!--Listado de usuarios-->
        <div class="container tbl-container">
            <div class="row tbl-fixed">
                <table
                    class="table table-success table-hover table-fixer"
                    cellspacing="0"
                    style="font-size: 12px; margin-bottom: 0">
                    <thead>
                        <tr class="gridHeader" style="color: #f8fcf8">
                            <th style="background: #124116; border-radius: 7px 0 0 0">Foto</th>
                            <th style="background: #124116">Nombre de usuario</th>
                            <th style="background: #124116">Rol</th>
                            <th style="background: #124116">Correo</th>
                            <th style="background: #124116; border-radius: 0 7px 0 0">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="u:${usuarios}">
                            <tr class="border-bottom border-success">
                                <td class="text-center"><img src="/Img/Banner/User.png" /></td>
                                <td th:text="${u.username}"></td>
                                <td th:text="${u.rol}"></td>
                                <td th:text="${u.correo}"></td>

                                <!-- <td class="text-center">
                                <input
                                    type="image"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    src="../Img/Icons/eliminar.png" />
                            </td> -->

                                <td>
                                    <a
                                        th:href="@{'/eliminarUsuario/'+${u.id}}"
                                        onclick="return confirm('Estas seguro de eliminar los datos de este Usuario')">
                                        <img src="../Img/Icons/eliminar.png" width="25px"
                                    /></a>
                                    &nbsp; &nbsp;
                                    <a th:href="@{'/editarUsuario/'+${u.id}}">
                                        <img src="../Img/Icons/editar.png" width="25px" />
                                    </a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                    <tr>
                        <td
                            style="background-color: #124116; border-radius: 0 0 7px 7px"
                            colspan="9"></td>
                    </tr>
                </table>
            </div>
        </div>

        <!--Cuadro Eliminar usuario-->
        <div
            class="modal fade"
            id="exampleModal"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <p class="encabezado">Eliminar usuario</p>

                    <div class="alert alert-danger" sti>
                        Se eliminará el usuario seleccionado. Al seleccionar Sí se perderán todos
                        los datos. ¿Desea continuar?

                        <div class="col-12">
                            <button
                                type="button"
                                class="btn boton btn-primary"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                                Cancelar
                            </button>
                            <button type="button" class="btn boton btn-secondary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <!-- <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Launch demo modal
        </button> -->

        <script th:src="@{/Bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>
    </body>
</html>
