<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/EstiloPrincipal.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/EstiloSecundario.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/Bootstrap/css/bootstrap.min.css}" />
        <title></title>
    </head>

    <body>
        <!--Barra titulo-->
        <div class="estBarraTitulo">
            <p class="titulo">Registrar Usuarios</p>
        </div>

        <div class="mensage">
            Utilice los enlaces que aparecen a continuación para gestionar la información relativa a
            los usuarios del sistema XAVIA RIS.
        </div>

        <!--Buscar Imagen-->
        <div class="interactua my-3">
            <p class="encabezado">Agregar nuevo usuario</p>

            <form
                class="row needs-validation"
                method="POST"
                onSubmit="return true;"
                id="agreg-user-Form"
                novalidate
                th:action="@{/registrarUsuario}"
                th:object="${registrarUsuarioForm}">
                <div class="container col-4" style="text-align: center">
                    <input type="file" name="file" class="file" />

                    <img src="../Img/Banner/User2.jpg" id="preview" class="img-usuario" />

                    <div class="col-12">
                        <button type="button" class="browse boton-estilo btn btn-primary">
                            Explorar
                        </button>
                    </div>
                </div>

                <!--Formulario-->
                <div class="container col-8 row" id="form-Isquierda">
                    <!--input oculto para usar un formulario para eliminar y modificar-->
                    <input type="hidden" th:field="*{id}" th:value="*{id}" />
                    <div class="col-6">
                        <label for="input-lavel01">Nombre de usuario:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="input-lavel01"
                            required
                            name="username"
                            th:field="*{username}"
                            th:value="*{username}" />
                    </div>

                    <div class="col-6">
                        <label for="input-lavel02">Correo Electrónico:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="input-lavel02"
                            required
                            name="correo"
                            th:field="*{correo}"
                            th:value="*{correo}" />
                    </div>

                    <div class="col-6">
                        <label for="input-lavel03">Seleccione rol:</label>
                        <select
                            class="form-select"
                            id="input-lavel03"
                            required
                            name="rol"
                            th:field="*{rol}"
                            th:value="*{rol}">
                            <option value="" th:text="'Seleccione'"></option>
                            <option value="Administrador">Administrador</option>
                            <option value="Especialista">Especialista</option>
                            <option value="Secretaria">Secretaria</option>
                        </select>
                    </div>

                    <div class="col-6">
                        <label for="input-lavel04">Contraseña:</label>
                        <input type="password" class="form-control" id="input-lavel04" />
                    </div>

                    <div class="col-6">
                        <label for="input-lavel05">Confirmar contraseña:</label>
                        <input
                            type="password"
                            class="form-control"
                            id="input-lavel05"
                            name="password"
                            th:field="*{password}"
                            th:value="*{password}" />
                    </div>

                    <div class="col-12">
                        <a class="boton-cancel btn btn-primary" href="/Usuario">Cancelar</a>
                        <button
                            class="boton btn btn-primary"
                            type="submit"
                            value="registrarUsuario">
                            Aceptar
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <script th:src="@{/Bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>
    </body>
</html>
